.dashlogo {
	margin:-30px;
}

.navbar-collapse collapse {
	margin: 40px;
}

.navbar-right {
	margin:20px;
}

#headerwrap h2{
	font-size:8px;
}

.fun {
	height:25px;
}

.valuepropimg {
	height:175px;
	width:250px;
}

