.span3 img{
  height:170px;
  width:170px;  
}

section#home.freelancer {
  background:rgba(134, 201, 239, 0.5) url('../img/bg-freelance.jpg') top center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.btn {
  background: #2980b9;
}

.btn.cta {
  background:#8e44ad;
  box-shadow: 0 6px #9b59b6;
}

#home span {
  color:#e74c3c;
  font-weight:bolder;
  /*background-color: rgba(255, 255, 255, 0.4);*/
}

section#home.freelancer h1 {
  color:#8e44ad;
  font-weight:bolder;
  font-size:28pt;
}

.header-cta {
  margin:0;
}

#mertBox{
  width: 700px;
}
#mertBox h1{
  background: rgba(255,255,255,0.75);
  color:#e74c3c;
  border:0 solid;
  border-radius:10px;
  font-weight:900;
}

#home .hero-content h1 {
  margin: 0 auto;
  width:65%;
  padding:10px;
}

section#footer-cta {
background: #95a5a6;
}
