body{
	font-family:Helvetica;
}
a{
	text-decoration:none;
}

#dreamlogo {
	color: #cebb99;
	font-family:fantasy;
	text-transform:lowercase;
}
upperc
	border-bottom: 2px dashed #cebb99;

h1 {
	text-transform:uppercase;
	color:white;
	text-align:center;
}

h2 {
	color:saddlebrown;
	font-weight:bold;
	background-color:white;
}

p {
	text-transform:lowercase;
	background-color:white;
}

#topmenu{
	text-align:center;
	border: 1.05px solid;
	text-decoration: none;	
	color: #e4d2a7;
	background-color:#230b03;
	word-spacing:30px;
}
nav{
	text-align:center;
	border: 1.05px solid;
	text-decoration: none;	
	color: #a38f74;
	background-color:#230b03;
}
nav a:visited{
	color: #a38f74;
	text-decoration:none;
}
