@font-face {
    font-family: 'league_gothicregular';
    src: url('type/leaguegothic-regular-webfont.eot');
    src: url('type/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('type/leaguegothic-regular-webfont.woff') format('woff'),
         url('type/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('type/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family:'Arial';Helvetica;
	font-size:14pt;
	width:75%;
	letter-spacing:0.2px;
	margin: auto;
}

header {
	width:920px;
	font-family:'league_gothicregular';
}

header .navbar {
	display:inline;
	font-family:'Arial';
	word-spacing:20px;  
	margin-bottom:10px;
	list-style-type: none;
	text-align:right;
	font-size:16px;
	font-weight:bolder;
	padding-top:54px;
	float:right;
}

.navbar li {
	display:inline-block;
}

h1 {
	font-size:64pt;
	margin-bottom:30px;
	text-align:left;
	display:inline;
	font-family:'league_gothicregular';
}

h2 {
	font-family:'league_gothicregular';
}

h2,h1 {
	text-transform:uppercase;
	font-weight:bold;
}

hr
{
    border: 1px solid gray;
}

#sidemenu {
	float:left;
	width:260px;
	font-size:12pt;
	font-weight:bold;
}

#sidemenu li{
	list-style-type: none;
	margin-bottom:15px;
}

.content {
	float:right;
	width:700px;
	margin:10px;
}

.content h2 {
	font-size:34px;
	margin-top:-34px;
}

.content h6 {
	font-size:14px;
	margin-top:20px;
}

p {
	font-size:12pt;
}

#footer {
	clear:both;
}